<mat-card>
    <mat-card-title>Update User</mat-card-title>
      <mat-card-content>
          <div *ngIf = "dataLoaded">
            <form [formGroup] = "editUserForm" (submit) ="updateUser()">
                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="User name" formControlName = "username">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                     <mat-error *ngIf = "editUserForm.controls['username'].errors && editUserForm.controls['username'].hasError('required') ">
                        Name is required
                      </mat-error>
                      <mat-error *ngIf = "editUserForm.controls['username'].errors && editUserForm.controls['username'].hasError('minlength') ">
                        Name  should be has  3 characters
                      </mat-error> 
                    </mat-form-field>
                </p>
    
                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName = "email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf = "editUserForm.controls['email'].errors && editUserForm.controls['email'].hasError('required') ">
                        Email Adderss is required
                      </mat-error>
                      <mat-error *ngIf = "editUserForm.controls['email'].errors && editUserForm.controls['email'].hasError('email') ">
                        Email Adderss is not valid
                      </mat-error>
                    </mat-form-field>
                </p>
            
                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" formControlName = "phone">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf = "editUserForm.controls['phone'].errors && editUserForm.controls['phone'].hasError('required') ">
                        Phone number is required
                      </mat-error>
                      <mat-error *ngIf = "editUserForm.controls['phone'].errors && editUserForm.controls['phone'].hasError('maxlength') ">
                        Phone number is should be 10 digits
                      </mat-error>
    
                    </mat-form-field>
                </p>
    
                <p>
                    <button mat-raised-button color="primary">Update User</button>
                </p>
            </form>
        </div>
    </mat-card-content>
  </mat-card>
  
  